
@font-face {
  font-family: 'Morganite-Black';
  src: url('/fonts/Morganite-Black.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #EFEFEF;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 43.0rem;
  margin: 0 auto;

}

.logo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 15px 15px;
}

h2 {
  color: #5941a9;
  font-family: "Morganite-Black", Sans-serif;
  font-size: 52px;
  letter-spacing: .4px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

.social_icons {
  display: flex;
}

.social_icons a {
  padding: 8px 8px;
  color: black;
  font-size: 19px;
  transition: transform 0.6s ease;
}

.social_icons a:hover {
  transform: rotate(4deg) scale(1.1);
}

main {
  max-width: 43.0rem;
  margin: 0 auto;
}

.image {
  padding: 25px 25px;
}

.image .img {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
  height: auto;
  max-width: 100%;
  border: none;
  transition: transform 0.6s ease;
}

.image .img:hover {
  transform: rotate(4deg) scale(1.1);
}

footer {
  font-family: "Lato", Sans-serif;
  font-size: 0.8rem;
  background-color: #5941A9;
  text-align: center;
  color: white;
  padding: 10px 10px;
  margin-top: 20px;
}
